<div class="player-area">
  <div class="player-profile-picture"
    [ngStyle]="getProfilePictureStyle()"
  >
    <img src="../../assets/images/profile-pictures/pp1.png" height="50" width="50"/>
<!--    <span style="position: absolute">{{playerRotation}}</span>-->
  </div>
  <!-- Cards -->
  <div class="cards"
    [ngStyle] = "getCardsStyle()"
  >
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
    <!-- The app-card component will need to be created as well -->
  </div>
</div>
