.player-area {
  /* Placeholder styles; adjust as needed for your layout */
}

.player-area.active {
  /* Styles to highlight the active player, such as a border */
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Styles for the card layout */
}
.player-profile-picture {
  z-index: 1; /* Ensure this is lower than the z-index for the cards */
  position: absolute;
  bottom: 0; /* Position at the bottom of the player container */
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1; /* This is a Tailwind CSS class that sets the aspect ratio to 1:1 */
}
.card-container {
  position: relative;
  z-index: 2; /* Above the profile picture */
}
